<div class="dashboard-container">
  <app-adminNavbar></app-adminNavbar>
  <section>
    <div class="total-orders">
      <h2>Total orders : {{orders.length}}</h2>
    </div>
    <table class="order-list">
      <tbody>
        <ng-container *ngFor="let order of orders">
            <tr>
              <th>Order ID</th>
              <th style="width: 120px;">Name</th>
              <th style="width: 220px;">Address</th>
              <th>Date</th>
              <th>Time</th>
              <th>Total Price</th>
            </tr>
          <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.name }}</td>
            <td>{{ order.address }}</td>
            <td>{{ order.date }}</td>
            <td>{{ order.time }}</td>
            <td>{{ order.totalPrice }}</td>
  
          </tr>
          <tr>
            <th>Product Id</th>
            <th colspan="2">Item Name</th>
            <th style="width: 120px;">Image</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
          <tr *ngFor="let item of order.items">
            <td>{{item.productId}}</td>
            <td colspan="2">{{ item.name }}</td>
            <td><img [src]="item.image" alt="Product Image" width="100"></td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
          </tr>
          <tr>
            <th colspan="6">Update Status</th>
          </tr>
          <tr style="height: 60px;" >
            <td colspan="6">
              <select  *ngIf="order.orderStatus !== 'Cancelled'" [(ngModel)]="order.orderStatus" (change)="updateOrderStatus(order)">
                <option value="">{{order.orderStatus}}</option>
                <option value="Pending">Pending</option>
                <option value="Processing">Processing</option>
                <option value="Shipped">Shipped</option>
                <option value="Delivered">Delivered</option>
              </select>
              <h4  *ngIf="order.orderStatus == 'Cancelled'">Status Cannot be updated as the above order has been cancelled by User</h4>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    
  </section>
</div>