<div class="dashboard-container">
  <app-adminNavbar></app-adminNavbar>
  <section>
    <div class="form-container">
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <h3>Add a Product</h3>
        <div class="flex">
        <div class="form-row">
          <label for="category">Category:</label>
          <input type="text" class="form-control" id="category" formControlName="category">
          <div class="errror" *ngIf="productForm.controls['category'].invalid&&(productForm.controls['category'].dirty || productForm.controls['category'].touched)">
            <span class="error" *ngIf="productForm.controls['category'].errors?.['required']" >Please enter category</span>
          </div>
        </div>
        <div class="form-row">
          <label for="image">Image:</label>
          <input type="file" class="form-control" id="image" formControlName="image">
          <div class="errror" *ngIf="productForm.controls['image'].invalid&&(productForm.controls['image'].dirty || productForm.controls['image'].touched)">
            <span class="error" *ngIf="productForm.controls['image'].errors?.['required']" >Please enter image location</span>
          </div>
        </div>
        </div>
        <div class="flex">
        <div class="form-row">
          <label for="model">Model:</label>
          <input type="text" class="form-control" id="model" formControlName="model">
          <div class="errror" *ngIf="productForm.controls['model'].invalid&&(productForm.controls['model'].dirty || productForm.controls['model'].touched)">
            <span class="error" *ngIf="productForm.controls['model'].errors?.['required']" >Please enter model name</span>
          </div>
        </div>
        <div class="form-row">
          <label for="price">Price:</label>
          <input type="text" class="form-control" id="price" formControlName="price">
          <div class="errror" *ngIf="productForm.controls['price'].invalid&&(productForm.controls['price'].dirty || productForm.controls['price'].touched)">
            <span class="error" *ngIf="productForm.controls['price'].errors?.['required']" >Please enter price</span>
          </div>
        </div>
      </div>
      <div class="flex">
        <div class="form-row">
          <label for="originalPrice">Original Price:</label>
          <input type="text" class="form-control" id="originalPrice" formControlName="originalPrice">
          <div class="errror" *ngIf="productForm.controls['originalPrice'].invalid&&(productForm.controls['originalPrice'].dirty || productForm.controls['originalPrice'].touched)">
            <span class="error" *ngIf="productForm.controls['originalPrice'].errors?.['required']" >Please enter original price</span>
          </div>
        </div>
        <div class="form-row">
          <label for="ratings">Ratings:</label>
          <input type="number" class="form-control" id="ratings" formControlName="ratings">
          <div class="errror" *ngIf="productForm.controls['ratings'].invalid&&(productForm.controls['ratings'].dirty || productForm.controls['ratings'].touched)">
            <span class="error" *ngIf="productForm.controls['ratings'].errors?.['required']" >Please enter ratings</span>
          </div>
        </div>
      </div>
        <div class="form-row">
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
    
    
  </section>
</div>
